*.swp
./**/*.swp
*.xml
_posts/2008-01-04-about.textile
_posts/2009-02-13-3freebooks.textile
_posts/2009-02-13-get-3-timeless-books-on-becoming-rich-for-free.textile
_posts/2009-02-13-videos.textile
_posts2009-02-14-3freebooks-1.textile
_posts/2009-02-14-please-confirm-your-email.textile
_posts/2010-08-12-about-greg-moreno.textile
_posts/2010-08-12-github.textile
_posts/2010-08-12-ruby-on-cloud.textile
_posts/2010-08-12-twitter.textile
_posts/2010-09-28-auto-draft.textile
_posts/2010-03-18-how-i-felt-during-pacman-clottey-fight.textile
_posts/2009-02-14-3freebooks-1.textile
_posts/2010-03-10-language-fanboys.textile
_posts/2009-09-12-if-browsers-were-women---firefox-opera-safari-ie-chrome.textile
